.graph-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 100vh;
    background: url('../assets/pexels-kyle-roxas-2138922.jpg') no-repeat center center;
    background-size: cover;
    overflow: hidden;
}